<h4 class="font-weight-bold py-3 mb-4">Testers</h4>
<!--<p>List of available devices</p>-->


<div class="card mb-4">
  <h6 class="card-header">
    List of existing testers
  </h6>
  <div class="card-body demo-vertical-spacing">
    <table name="resultsTable" class="table">
      <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>


      <tr *ngFor="let tester of testers">
        <th>{{tester.id}}</th>
        <td>{{tester.firstName}} {{tester.lastName}}</td>
        <td>{{tester.country}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
